.equipment {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 13rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__menu {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 13rem;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      font-family: var(--font-family);
      font-weight: 350;
      font-size: 2rem;
      text-transform: uppercase;
      color: #fff;
      writing-mode: vertical-rl;

      transition: transform .3s ease-out;
    }
  }

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    @include tablet {
      height: unset;
    }
  }

  &__row {
    flex: 1 0 auto;
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .2s ease-out, z-index .2s ease-out;

    &.active {
      z-index: 3;
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__items {
    position: relative;
    z-index: 5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.equip {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.7px solid #fff;
  cursor: pointer;

  @include tablet {
    height: 10rem;
    padding: 1rem;
  }

  &--eq {
    cursor: default;
    pointer-events: none;
    flex: unset;
    width: 46rem;
    padding-right: 4.2rem;

    justify-content: flex-end;

    @include tablet {
      width: 100%;
      padding-right: 0;
      height: 24.4rem;
      justify-content: center;
    }

    .equip__text {
      display: inline-block;
      position: relative;
      font-size: 4.8rem;

      @include tablet {
        font-size: 3rem;
      }

      &::before {
        content: "";
        position: absolute;
        left: -7rem;
        top: 50%;
        transform: translate(0%, -50%);
        width: 25.4rem;
        height: 25.4rem;
        background-image: url('./../img/square.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include tablet {
          width: 17.2rem;
          height: 17.2rem;
          left: -4.7rem;
        }
      }
    }
  }

  transition: background-color .3s ease-out;

  &.active {
    background-color: rgba(224, 244, 245, 0.7);

    .equip__text {
      color: var(--text-color);
    }
  }

  @include hover {
    background-color: rgba(224, 244, 245, 0.7);

    .equip__text {
      color: var(--text-color);
    }
  }

  &__text {
    font-weight: 600;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #fff;
    transition: color .3s ease-out;

    @include tablet {
      font-size: 1.8rem;
    }
  }
}


.panel {
  position: absolute;
  z-index: 12;
  right: 13rem;
  bottom: 0;
  width: calc(50% - 13rem);

  &__control {
    display: flex;
    align-items: center;
  }

  &__fpagination {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: rgba(57, 122, 158, 0.5);

    span {
      color: #397a9e;
    }
  }

  &__btn {
    cursor: pointer;
    width: 5.2rem;
    height: 5.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 2rem;
      width: 1rem;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    background-color: #eff6f6;
  }

  &__left {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    color: #51e2eb;
  }

  &__desc {
    max-width: 29.3rem;
    margin: 0;
    margin-bottom: 4rem;
    font-weight: 350;
    font-size: 2.4rem;
    color: #397a9e;
  }

  &__list {
    flex-basis: 36.8rem;
  }

  &__item {
    border: 1px solid rgba(78, 77, 77, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 350;
    font-size: 2rem;
    text-transform: uppercase;
    color: #397a9e;
    transition: color .3s ease-out;

    @include hover {
      color: #14b3da;
    }

    &.active {
      color: #14b3da;
      font-weight: 700;
    }
  }
}