.header {
  position: absolute;
  z-index: 900;
  left: 50%;
  top: 0;
  width: 100%;
  transform: translateX(-50%);

  &__container {
    @include tablet {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }

  &__container,
  &__right,
  &__buttons,
  &__top {
    display: flex;
  }

  &__right {
    flex-direction: column;
  }

  &__logo {
    border-bottom: 1px solid #397a9e;
    border-left: 1px solid #397a9e;
    border-right: 1px solid #397a9e;
    padding: 1rem;
    padding: 2.6rem 1.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color .3s ease-out;

    @include tablet {
      width: 17rem;
      padding: 1rem;
    }

    img {
      display: block;
      height: 8.8rem;
      width: 25.6rem;

      @include tablet {
        width: 14rem;
        height: auto;
      }
    }
  }

  &__buttons {
    padding: 1.25rem 2rem;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    border-right: 1px solid #397a9e;
    transition: border-color .3s ease-out;

    @include tablet {
      padding: 1.15rem 0.45rem;
      gap: 3rem;
      width: 100%;
      height: 50%;
    }
  }

  &__btn {
    display: block;
    width: 3.5rem;
    height: 3.5rem;

    @include tablet {
      width: 2.7rem;
      height: 2.7rem;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: #397A9E;
    }
  }

  &__top {
    height: 50%;
    border-bottom: 1px solid #397a9e;
    transition: border-color .3s ease-out;

    @include tablet {
      flex-wrap: wrap;
      height: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem 6.5rem;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: var(--text-color);
    border-right: 1px solid #397a9e;

    @include tablet {
      display: none;
    }
  }

  &__nav {
    height: 50%;
    border-bottom: 1px solid #397a9e;
    border-right: 1px solid #397a9e;

    @include tablet {
      display: none;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 7rem;
    flex-shrink: 0;
    border-bottom: 1px solid #397a9e;

    display: none;
    transition: border-color .3s ease-out;

    @include tablet {
      display: flex;
    }
  }
}

.burger {
  width: 100%;
  position: relative;

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: var(--text-color);

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--text-color);
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }
}


.header-search {
  width: 42rem;
  position: relative;
  display: block;
  border-right: 1px solid var(--text-color);
  height: 100%;
  transition: border-color .3s ease-out;

  @include tablet {
    width: 100%;
    height: 50%;
  }

  &__label,
  &__input {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__label {
    background-color: #dcf3f4;
  }

  &__input {
    background: none;
    border: none;
    padding: 1rem;
    padding-right: 8rem;

    &.focus-visible {
      outline: none;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3.5rem;
    height: 3.5rem;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--text-color);

      transition: fill .3s ease-out;
    }
  }
}