<section class="equipment">
  <div class="equipment__container">
    <div class="equipment__background">
      <div class="equipment__image active">
        <img src="./img/equip/base.png" alt="">
      </div>
      <div class="equipment__image" data-tab="1">
        <img src="./img/equip/01.png" alt="">
      </div>
      <div class="equipment__image" data-tab="2">
        <img src="./img/equip/02.png" alt="">
      </div>
      <div class="equipment__image" data-tab="3">
        <img src="./img/equip/03.png" alt="">
      </div>
      <div class="equipment__image" data-tab="4">
        <img src="./img/equip/04.png" alt="">
      </div>
      <div class="equipment__image" data-tab="5">
        <img src="./img/equip/05.png" alt="">
      </div>
      <div class="equipment__image" data-tab="6">
        <img src="./img/equip/06.png" alt="">
      </div>
    </div>
    <div class="equipment__items">
      <div class="equipment__row">
        <div class="equip" data-tab="1">
          <span class="equip__text">Жилых домов</span>
        </div>
        <div class="equip" data-tab="2">
          <span class="equip__text">ТОрговых центров</span>
        </div>
      </div>
      <div class="equipment__row">
        <div class="equip" data-tab="3">
          <span class="equip__text">Бизнес-центров</span>
        </div>
        <div class="equip equip--eq">
          <span class="equip__text">Оснащение</span>
        </div>
        <div class="equip" data-tab="4">
          <span class="equip__text">Поликлиник</span>
        </div>
      </div>
      <div class="equipment__row">
        <div class="equip" data-tab="5">
          <span class="equip__text">Школ</span>
        </div>
        <div class="equip" data-tab="6">
          <span class="equip__text">Производств</span>
        </div>
      </div>
    </div>
  </div>
</section>