<section class="hero">
  <div class="hero__background">
    <!-- <canvas class="canvas canvas_fluid"></canvas> -->
  </div>
  <div class="container hero__container">
    <div class="hero__top">
      <h1 class="hero__title">
        Вентарт Групп
      </h1>
      <p class="hero__subtitle">
        Производим и поставляем оборудование бытового и промышленного назначения
      </p>
    </div>
    <div class="hero__bottom">
      <p class="hero__desc">
        Компания «Вентарт Групп» располагает обширным штатом сотрудников и ресурсами, достаточными для осуществления
        быстрой и высококачественной логистики на территории Российской Федерации и стран СНГ. А так же обладает
        современными складами, отвечающими всем требованиям современного рынка.
      </p>
      <p class="hero__desc">
        Платиновый участник ежегодной Международной специализированной выставки «Мир Климата»
      </p>
    </div>
  </div>
</section>